<form action="/login/auth/local" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username"><br>
    <label for="password">Password:</label>
    <input type="password" name="password">
    <input type="submit">
</form>

<h2><a href="/login/auth/google">Google Login</a></h2>
<h2><a href="/login/auth/facebook">Facebook Login</a></h2>
<h2><a href="/login/auth/github">Github Login</a></h2>